#page-end-bar{

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;

    background-color: var(--off-white);
    color: var(--off-black);

    font-size: 13px;
}