#page-end-bar{

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;

    background-color: var(--off-gray);
    color: var(--off-white);

    font-size: 11.5px;
}