:root{
    --off-white: 	    rgb(248,248,255);
    --off-gray:           rgb(162, 162, 216);
    --accent-color:     rgb(105,114,216);
    --deeper-color:      rgb(124, 105, 216);
    --accent-complement: rgb(216, 105, 114);
}

#page-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--off-white);
}

