.background {
    position: relative;
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: var(--off-white);
    
    box-shadow: 0px 10px 30px -5px #000;
  }
  
#reimbursement-desc{
    width: 100%;
    padding: 10px;
}