#welcome-message{
    font-size: 6vw;
}

#activity-card-container{
    display: block;
    width: 100%;
    height: fit-content;
    padding: 0px 15vw;
    margin: 0 15vw;
    
}

#mobile-nav-toggle{
    display: none;
}


#activity-card-list{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;

    gap: 8vw;
    padding: 8vw 0;
    height: fit-content;
}

.activity-card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20vw;
    height: 20vw;
}

.activity-card>p{
    font-size: 2.5vw;
}