<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- datasource -->
        <property name="hibernate.connection.url">jdbc:postgresql://javafs-210907-rds.cdymww1sot6d.us-east-2.rds.amazonaws.com:5432/postgres</property>
        <property name="hibernate.connection.username">master</property>
        <property name="hibernate.connection.password">Goaway98test</property>

        <!-- driver properties -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!-- Debug show SQL logs-->
        <property name="hibernate.show_sql">true</property> <!-- Show sql statements on run -->
        <property name="hibernate.format_sql">true</property> <!-- Format SQL statements for readability-->

<!--        Lazy Loading -->
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <!-- Do Mappings-->
        <mapping class="com.reimbursement.webmodels.User"/>
        <mapping class="com.reimbursement.webmodels.ReimbursementRequest"/>
    </session-factory>
</hibernate-configuration>