*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.5;
}

body {
     min-height: 100vh;
}

#container{
    width: 100%;
    /*Debug*/
    background-color: darkmagenta;
}

#flexbox-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;

    /*Debug*/
    background-color:aquamarine;
}

#c1, #c2, #c3 {
    flex-basis: 100%;
    text-align: center;
}

.box{




    /*Debug*/
    background-color: blue;
    color: white;
}


/*
    
<div id="container">
    <div id="flexbox-wrapper">
        <div class="box">Hello1</div>
        <div class="box">Hello2</div>
        <div class="box">Hello3</div>
    </div>
</div>

*/