:root{
    --off-white: 	rgb(248,248,255);
    --accent-color: rgb(105,114,216);
}

#page-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--off-white);
}

