.background {
    position: relative;
    height: 50%;
    width: 75%;
    margin: auto;
    padding: 7% 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: var(--off-white);
    
    box-shadow: 0px 10px 30px -5px #000;
  }

  #request-list-header{
    padding-bottom: 5%;
  }

  #requests-table{
    width: 100%;
    text-align: center;
  }

  td{
    padding:5px;
  }

  th{
    padding: 0 1%;
  }

#link-to-tickets a{
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1.5px;
    border-color: var(--off-gray);
    background-color: var(--off-lightgray);

    font-size: 18px;
    font-weight: 700;

    box-shadow: 0px 5px 10px -5px var(--off-gray);
}
